NODE_ENV=production
NPM_CONFIG_PRODUCTION="FALSE"
# Hostinger normally provides PORT automatically.
# PORT=5000

CORS_ORIGIN=https://new.10xdigitalventures.com
DATABASE_URL=postgresql://postgres:y%24.fsUEf*HM%406Rz@db.zxsytggddqgfafpbpybo.supabase.co:5432/postgres?sslmode=require

JWT_SECRET=vz8iMe8+h69vnME5UXr9r2q5sqgYDVc22+1aC9rr2Ld6NQ/dlMJcoZtm0VV6lR5Nav1joLvj5UGq/ZGxd+k+yA==
NEXTAUTH_SECRET=4dXyqcEGUxNIbGr1HhsSmFuTiteiCGA0lh0e5hr2UHc/aspixseVhPmp7pB9koiNctHPDRqKLtv274WtKy8DkA==
NEXT_PUBLIC_URL="https://new.10xdigitalventures.com"

STRIPE_SECRET_KEY="sk_test_or_live_key"
STRIPE_WEBHOOK_SECRET="whsec_your_webhook_secret"

PAYFAST_MERCHANT_ID=""
PAYFAST_SECURED_KEY=""
PAYFAST_BASE_URL="https://ipguat.apps.net.pk"